header {
    text-align: center;
    margin: 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop  {
    flex-basis: 16%;
    border: 1px dotted black;
    padding: 0em;
    margin: 0em 0.5em 0em 0em;
    text-align: left;
}