* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: aliceblue; 
    font-size: 72px;
    margin: 1em -10em 1em -10em;
    padding: 2em;
    text-align: center;
    
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop  {
    flex-basis: 16%;
    border: 1px dotted black;
    padding: 1em;
    margin: 1em;
    text-align: left;
}

.shop__img {
    min-width: 20em;
    max-width: 20em;
    max-height: 20em;
    margin-bottom: 1em;
}

.shop__phone-number {
    margin: .5em .5em .5em 0;
}

h2 {
    color: black;
}

.shop__menu {
    color: black;
    font-weight: bold;
}